*{
     padding: 0;
     margin: 0;
    box-sizing: border-box;
}
body{
    position: relative;
}
/* Global css */
.obj-width{
    max-width: 1200px;
    margin: auto;
}


nav{
    background: #2d4c50;
    box-shadow: 0 7px 10px rgba(2,2,2,0.7);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.navbar .logo{
    margin-left: 3rem;
    font-size: 1.8rem;
    font-weight: 400;
    color: white;
    text-decoration: none;
    letter-spacing: 0.25px;
}

.search-container{
    margin-right: 3rem;
}
#search-input{
    width: 300px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size:18px;
    color: rgb(17, 10, 1);
}

#search-btn{
   padding: 10px 20px;
  font-size: 18px;
   background-color: greenyellow;
   border: none;
   color: white;
   cursor: pointer;
   border-radius: 5px;
   margin-left: 10px;

}
.block-container{
    padding: 3rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

}

.blogcard{
    width:280px;
    border:1px solid #2d4c50;
    border-radius: 15px;
    cursor: pointer;
    padding: 1rem;
    margin: 10px;
    
}

.blogcard img{
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 1rem;
}
.blogcard:hover{
    box-shadow: 4px 5px 10px rgba(1,1,1,0.4);
}

.blogcard h2{
    color: #141414;
    font-size: 1.7rem;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.blogcard p{
    color: #141414;
    font-size: 1rem;
    font-weight: 300;
    padding-top: 0.7rem;
}

@media(max-width:300px){
    nav{
       padding: 0 20px;
    }
    .navbar .logo{
        font-size: 1.8rem;

    }
    #search-input{
        width: 150px;
        padding: 10px 10px;
        
    }
    .blogcard{
        width:100%;
        
        
    }
}